@font-face {
    font-family:'Satoshi';
    src: url(./assets/Satoshi-Bold.woff);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a,
button{
    color:inherit;
    border:none;
    text-decoration: none;
    background-color: inherit;
}

body{
    background-color: #11110E;
    color:#fff;
    font-family:'Satoshi', sans-serif;
    letter-spacing: -1px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.heading-block{
    grid-row: 1/2;
    background-color: red;     
}


.empty-block{
    grid-column: 2/4;
    grid-row:1/2;
}

.awards{
    grid-column: 3/4;
    grid-row:3/4;
}
.accent-block{
    background-color: #4BDB7C;
}

.contact{
    grid-row:1/3;
    grid-column: 4/5;
    background-color: red;
}

.about{
    grid-row:2/3;
    grid-column:1/3;
}

.works-block{
    grid-row: 2/3;
}

.services-block{
    grid-row:3/4;
    grid-column: 1/3;
}

.awards-block{
grid-column: 3/4;
grid-row:3/4;
}

